.app{

    display: flex;
    flex-direction: column;


}


.Image{

    background-image: url('https://images.pexels.com/photos/303383/pexels-photo-303383.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-size: cover;
    background-repeat: 0;
    background-attachment: fixed;



}
