.header{
    height: 60px;
    display: flex;
    align-items: center;
    top: 0;
    z-index: 100;

}
.header__logo{
    width: 150px;
    object-fit: contain;
    margin: 0 20px;
    cursor: pointer;
    margin-top: 6px;
}


.header__search{
    display: flex;
    /*strech as big as it can go*/
    align-items: center;
    border-radius: 24px;
}

.header__searchInput{
    height: 13px;
    padding: 10px;
    border-color: #494949;
    border-width: 1px;
    border-radius: 2px;
    width: 280px;
}

.header__searchIcon{
    padding: 5px;
    height: 18px;
    background-color: #fff;
    color: #0b8ce9;
    cursor: pointer;
}


.header__optionLineOne{
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    margin-left: 20px;
    font-style: italic;
    
    transition: 0.3s;

}
.header__optionLineOne:hover{
    transform: scale(1.1);
    color: #0b8ce9;
}

.header__optionLineTwo{
    font-size: 13px;
    font-weight: 300;
    color: #494949;
}

.header__optionBasket{
    display: flex;
    align-items: center;
    color: #494949;
}

.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
}

.header_nav{
    display: flex;
    justify-content: space-evenly;
}


.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    color: #494949;
}