.productImage{

    max-height: 300px;
    width: 100%;
   

}

.Product{

    margin: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    height: 350px;

}

.productImage{
    transition: 0.5s;
    

}

.productImage:hover{

    transform: scale(1.05);

}